@model SICCO.Database.tb_pessoa

@{
    ViewBag.Title = "Cadastro";
}

<h2>Cadastro</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tb_pessoa</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.nome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nome)
                @Html.ValidationMessageFor(model => model.nome)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sobreNome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sobreNome)
                @Html.ValidationMessageFor(model => model.sobreNome)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cpfCnpj, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cpfCnpj)
                @Html.ValidationMessageFor(model => model.cpfCnpj)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rg, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.rg)
                @Html.ValidationMessageFor(model => model.rg)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cidade, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cidade)
                @Html.ValidationMessageFor(model => model.cidade)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.estado)
                @Html.ValidationMessageFor(model => model.estado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cep, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cep)
                @Html.ValidationMessageFor(model => model.cep)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fone)
                @Html.ValidationMessageFor(model => model.fone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.celular, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.celular)
                @Html.ValidationMessageFor(model => model.celular)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sexo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sexo)
                @Html.ValidationMessageFor(model => model.sexo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nascimento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nascimento)
                @Html.ValidationMessageFor(model => model.nascimento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.endereco, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.endereco)
                @Html.ValidationMessageFor(model => model.endereco)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idUsuario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idUsuario)
                @Html.ValidationMessageFor(model => model.idUsuario)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idEmpresa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idEmpresa)
                @Html.ValidationMessageFor(model => model.idEmpresa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idTipoPessoa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idTipoPessoa)
                @Html.ValidationMessageFor(model => model.idTipoPessoa)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
