@model SICCO.Database.tb_modelo

@{
    ViewBag.Title = "Cadastro de Modelo";
    Layout = "~/Views/Shared/_LayoutADM.cshtml";
}

<h3>Cadastro de Modelo</h3>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.categoiaModelo, "Categoria", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("categoiaModelo", new List<SelectListItem> { new SelectListItem { Text = "Carro", Value = "Carro" }, new SelectListItem { Text = "Moto", Value = "Moto" }
           , new SelectListItem { Text = "Caminhão", Value = "Caminhão" }}, "Selecione", new { @Style = "Width:500px;height:40px;", @class = "form-control input-lg" })
                @Html.ValidationMessageFor(model => model.categoiaModelo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipoModelo, "Tipo do Modelo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("tipoModelo", new List<SelectListItem> { new SelectListItem { Text = "Nacional", Value = "Nacional" }, new SelectListItem { Text = "Importado", Value = "Importado" } }, "Selecione", new { @Style = "Width:500px;height:40px;", @class = "form-control input-lg" })
                @Html.ValidationMessageFor(model => model.tipoModelo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Modelo</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.descricao)
                @Html.ValidationMessageFor(model => model.descricao, "", new { @class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
               <b>Ano/Modelo</b>

            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.anoModelo)
                @Html.ValidationMessageFor(model => model.anoModelo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idMarca, "Marca", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idMarca", String.Empty)
                @Html.ValidationMessageFor(model => model.idMarca, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idTipoCompustivel, "Combustível", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idTipoCompustivel", String.Empty)
                @Html.ValidationMessageFor(model => model.idTipoCompustivel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
