@model SICCO.Database.tb_modelo

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tb_modelo</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.categoiaModelo, "Categoria", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("categoiaModelo", new List<SelectListItem> { new SelectListItem { Text = "Carro", Value = "Carro" }, new SelectListItem { Text = "Moto", Value = "Moto" }
           , new SelectListItem { Text = "Caminhão", Value = "Caminhão" }}, "Selecione", new { @Style = "Width:500px;height:40px;", @class = "form-control input-lg" })
                @Html.ValidationMessageFor(model => model.categoiaModelo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipoModelo, "Tipo da Modelo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("tipoModelo", new List<SelectListItem> { new SelectListItem { Text = "Nacional", Value = "Nacional" }, new SelectListItem { Text = "Importado", Value = "Importado" } }, "Selecione", new { @Style = "Width:500px;height:40px;", @class = "form-control input-lg" })
                @Html.ValidationMessageFor(model => model.tipoModelo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.descricao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descricao)
                @Html.ValidationMessageFor(model => model.descricao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.anoModelo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.anoModelo)
                @Html.ValidationMessageFor(model => model.anoModelo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idMarca, "idMarca", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idMarca", String.Empty)
                @Html.ValidationMessageFor(model => model.idMarca)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idTipoCompustivel, "idTipoCompustivel", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idTipoCompustivel", String.Empty)
                @Html.ValidationMessageFor(model => model.idTipoCompustivel)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
