@model SICCO.Database.tb_modelo

@{
    ViewBag.Title = "Detalhe";
    Layout = "~/Views/Shared/_LayoutADM.cshtml";
}

<h3>Detalhes</h3>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            <b>Categoria:</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoiaModelo)
        </dd>

        <dt>
            <b>Tipo do Modelo:</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoModelo)
        </dd>

        <dt>
            <b>Modelo:</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            <b>Ano/Modelo:</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anoModelo)
        </dd>

        <dt>
            <b>Marca:</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_marca.marca)
        </dd>

        <dt>
            <b>Combustível</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_tipocombustivel.tipoCombustivel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
