@model IEnumerable<SICCO.Database.tb_modelo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutADM.cshtml";
}

<h3>Lista de Modelos</h3>


<table class="table">
    <tr>
        <th>
            <b>Categoria</b>
        </th>
        <th>
            <b>Tipo</b>
        </th>
        <th>
            <b>Modelo</b>
        </th>
        <th>
            <b>Ano/Modelo</b>
        </th>
        <th>
            <b>Marca</b>
        </th>
        <th>
            <b>Combustível</b>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoiaModelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoModelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.anoModelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_marca.marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_tipocombustivel.tipoCombustivel)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.id }) |
            @Html.ActionLink("Remover", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Novo", "Create")
</p>
