@model SICCO.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Alterar Senha";
    if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("master"))
        {
            Layout = "~/Views/Shared/_LayoutADM.cshtml";
        }
    }
}

<h2>Escolha uma nova senha</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-2 control-label">
         <b>Senha Atual</b>     
         </div>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 control-label">
            <b>Nova Senha</b>
        </div>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 control-label">
            <b>Confirme Senha</b>
        </div>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Alterar Senha" class="btn btn-warning" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}