@model SICCO.Database.tb_cor

@{
    ViewBag.Title = "Cadastro";
}

<h3>Cadastro de Cores</h3>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.tipoCor, "Tipo da Cor", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("tipoCor", new List<SelectListItem> { new SelectListItem { Text = "Comum", Value = "Comum" }, new SelectListItem { Text = "Metálica", Value = "Metálica" }, new SelectListItem { Text = "Fosca", Value = "Fosca" } }, "Selecione", new { @Style = "Width:500px;height:40px;", @class = "form-control input-lg" })
                @Html.ValidationMessageFor(model => model.tipoCor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-lg-2">
            <b>Cor</b> 
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.cor)
                @Html.ValidationMessageFor(model => model.cor)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
