@model SICCO.Database.tb_cor

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutADM.cshtml";
}

<h2>Remover</h2>

<h3>Tem certeza que deseja remover esta cor?</h3>
<div>


    @if (TempData["mensagemErro"] != null)
    {
        <div class="alert-danger">
            @TempData["mensagemErro"]
        </div>
    }
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>Tipo da Cor: </b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoCor)
        </dd>

        <dt>
            <b>Cor</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cor)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
