@model SICCO.Database.tb_cor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_cor</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipoCor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoCor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
