@model IEnumerable<SICCO.Database.tb_cor>

@{
    ViewBag.Title = "Cores";
    Layout = "~/Views/Shared/_LayoutADM.cshtml";
}

<h3>Lista de Cores</h3>


<table class="table">
    <tr>
        <th>
           <b>Tipo de Cor</b>
        </th>
        <th>
            <b>Cor</b>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipoCor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cor)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.id }) |
            @Html.ActionLink("Remover", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Novo", "Create")
</p>
