@model IEnumerable<SICCO.Database.tb_veiculo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
                      <table class="table" border="1">
                          <tr>
                              <h2>Compra</h2>


                              @Html.Action("Create","Compra");


                              <br>
                              <br>
                       
                          <tr>
                              <h2>Venda</h2>
                              <table class="table">
                                  <tr>
                                      <th>
                                          @Html.DisplayNameFor(model => model.placa)
                                      </th>
                                      <th>
                                          @Html.DisplayNameFor(model => model.chassi)
                                      </th>
                                      <th>
                                          @Html.DisplayNameFor(model => model.tb_cor.cor)
                                      </th>
                                      <th>
                                          @Html.DisplayNameFor(model => model.tb_modelo.descricao)
                                      </th>
                                      <th></th>
                                  </tr>

                                  @foreach (var item in Model)
                                  {
                                      <tr>
                                          <td>
                                              @Html.DisplayFor(modelItem => item.placa)
                                          </td>
                                          <td>
                                              @Html.DisplayFor(modelItem => item.chassi)
                                          </td>
                                          <td>
                                              @Html.DisplayFor(modelItem => item.tb_cor.cor)
                                          </td>
                                          <td>
                                              @Html.DisplayFor(modelItem => item.tb_modelo.descricao)
                                          </td>
                                          <td>
                                              @Html.ActionLink("Alterar", "Edit", new { id = item.id }) |
                                              @Html.ActionLink("Negociações", "Details", new { id = item.id }) |
                                              @Html.ActionLink("Negociar", "Delete", new { id = item.id })
                                          </td>
                                      </tr>
                                  }

                              </table>
                          </tr>
                      </table>
