@model IEnumerable<SICCO.Database.tb_tipocombustivel>

@{
    ViewBag.Title = "Combustível";
}

<h3>Lista de Combustíveis</h3>


<table class="table">
    <tr>
        <th>
            Descrição
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipoCombustivel)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalhe", "Details", new { id=item.id }) |
            @Html.ActionLink("Remover", "Delete", new { id=item.id })
        </td>
    </tr>
}
  

</table>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
